<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.extend.manager.user.mapper.ISysUserMapper">

    <resultMap type="com.open.extend.manager.user.domain.vo.SysUserVo" id="SysUserResult">
        <id property="id" column="id"/>
    </resultMap>
    <resultMap type="com.open.extend.manager.domain.vo.SysUserExportVo" id="SysUserExportResult">
        <id property="userId" column="id"/>
    </resultMap>

    <select id="selectPageUserList" resultMap="SysUserResult">
        select
        <if test="ew.getSqlSelect != null">
            ${ew.getSqlSelect}
        </if>
        <if test="ew.getSqlSelect == null">
            u.id, u.dept_id, u.nickname, u.username, u.email, u.avatar, u.phonenumber, u.sex,
            u.enable, u.del_flag, u.login_ip, u.login_time, u.create_by, u.create_time, u.remark
        </if>
        from sys_user u
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectUserList" resultMap="SysUserResult">
        select
        <if test="ew.getSqlSelect != null">
            ${ew.getSqlSelect}
        </if>
        <if test="ew.getSqlSelect == null">
            u.id, u.dept_id, u.nickname, u.username, u.email, u.avatar, u.phonenumber, u.sex,
            u.enable, u.del_flag, u.login_ip, u.login_time, u.create_by, u.create_time, u.remark
        </if>
        from sys_user u
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectUserExportList" resultMap="SysUserExportResult">
        select u.id,
               u.dept_id,
               u.nickname,
               u.username,
               u.email,
               u.avatar,
               u.phonenumber,
               u.sex,
               u.enable,
               u.del_flag,
               u.login_ip,
               u.login_time,
               u.create_by,
               u.create_time,
               u.remark,
               d.dept_name,
               d.leader,
               u1.username as leaderName
        from sys_user u
                 left join sys_dept d on u.dept_id = d.id
                 left join sys_user u1 on u1.user_id = d.leader
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectAllocatedList" resultMap="SysUserResult">
        select distinct u.id,
                        u.dept_id,
                        u.username,
                        u.nickname,
                        u.email,
                        u.phonenumber,
                        u.enable,
                        u.create_time
        from sys_user u
                 left join sys_dept d on u.dept_id = d.id
                 left join sys_user_role sur on u.id = sur.user_id
                 left join sys_role r on r.id = sur.role_id
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectUnallocatedList" resultMap="SysUserResult">
        select distinct u.id,
                        u.dept_id,
                        u.username,
                        u.nickname,
                        u.email,
                        u.phonenumber,
                        u.enable,
                        u.create_time
        from sys_user u
                 left join sys_dept d on u.dept_id = d.id
                 left join sys_user_role sur on u.id = sur.user_id
                 left join sys_role r on r.id = sur.role_id
            ${ew.getCustomSqlSegment}
    </select>

</mapper>
